{% extends 'gerenciador/base.html' %}

{% load bootstrap4 %}

{% block dasboard_class %}active{% endblock %}
{% block titulo_pagina %}Confirmação de Email{% endblock %}

{% block pagebody %}
  <div class="card pd-20 pd-sm-40">
    <div class="card-body">
      {% if valid_token %}
        <h4 class="card-body-title" >O seu email foi confirmado.</h4>
        <p>Clique no botão abaixo para voltar para a página inicial.</p>
        <a class="btn btn-info" href="{% url 'index' %}">Página inicial</a>
      {% else %}
        <h4 class="card-body-title">Link de confirmação inválido.</h4>
      {% endif %}
    </div>
  </div>
{% endblock %}
