{% extends 'gerenciador/base.html' %}

{% load bootstrap4 %}

{% block dasboard_class %}active{% endblock %}
{% block titulo_pagina %}Página inicial{% endblock %}

{% block pagebody %}
  <div class="card pd-20 pd-sm-40">
    <p class="mg-b-20 mg-sm-b-30">Insira aqui um link para vizualizá-lo de forma limpa</p>
    <form method="post">{% csrf_token %}

      {% if mensagem %}
        <div class="alert alert-danger mg-b-20" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          {{ mensagem }}
        </div>
      {% endif %}

      {% bootstrap_field form.link show_label=False %}
      <input class="btn btn-info" name="abrir" type="submit" value="Abrir">
      <input class="btn btn-info" name="salvar" type="submit" value="Salvar">
    </form>
  </div>
{% endblock %}
